brew bundle check || brew bundle install --no-upgrade --no-lock
use_nix

# I'd love to be able to do this, but it completely circumvents the `direnv
# allow/deny` security functionality...
# if [ -f '.envrc.local' ]; then
#   direnv '.envrc.local'
# fi
